* {
    margin: 0px;
    padding: 0px;
    left: 0px;
}
body {
    background-color: whitesmoke;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Garamond', serif;

}
.bigContainer {
    width: 1440px;
    margin: auto;
    text-align: center;
}
/*
css filter colour generator
 https://codepen.io/sosuke/pen/Pjoqqp */

h2 {
    font-weight: 300;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 120px;
}
p {
    font-weight: 400;
    font-size: 22px;
    text-align: left;
    margin: auto;
    max-width: 800px;
    margin-top: 2em;
    position: absolute;
    line-height: 1.5em;
}

.parallax {
    width: 100%;
    height: 100%;
    position: relative;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    perspective: 12px; /* the depth of the "box" */
    perspective-origin: 0%;
    margin: auto;
    left: 0;
}
.container {
    position: absolute;
    left: 50%;
    text-align: center;
}

.dot {
    background: black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation-name: none;
    display:inline-block; 
    margin: 100px;


}
.date {
    width: 4000px;
    animation-name: none;
    transform: translateX(-50%) scale(0.2);
    top: 2200px;
    padding-bottom: 1000px;
    padding-top: 0;

    
}

.line1 {
    position: absolute;
    right: -200px;
    top: 500px;
    transform: translateZ(1px) scale(0.92);
    text-align: right;

}
.line2 {
    position: absolute;
    left: 150px;
    top: 1200px;
    transform: translateZ(1px) scale(0.92);
}
.line2-2 {
    position: absolute;
    left: 150px;
    top: 1650px;
    transform: translateZ(1px) scale(0.92);
}
.line2-3 { /* join us */
    position: absolute;
    top: 1900px;
    transform: translateZ(1px) scale(0.92) translateX(50%);
    left: -50px;
    text-align: center;
    margin: auto;

}
/* .line3 {
    position: absolute;
    top: 1900px;
    transform: translateZ(1px) scale(0.92) translateX(-50%);
    left: 50%;
} */
.letter-r {
    position: absolute;
    transform: translateZ(4px) skew(-40deg) scale(0.9);
    left: 70px;
    top: 130px;

}
.letter-e {
    position: absolute;
    transform: translateZ(7px) skew(-40deg) scale(0.3);
    left: 30px;
    top: 210px;

}
.letter-b {
    position: absolute;
    transform: translateZ(4px) skew(-40deg) scale(0.4);
    left: 200px;
    top: 710px;
}
.letter-o {
    position: absolute;
    transform: translateZ(7px) skew(-40deg) scale(0.6);
    left: 220px;
    top: 750px;
}
.letter-r2{
    position: absolute;
    transform: translateZ(4px) skew(-40deg) scale(0.4);
    top: 1380px;
    left: 460px;
}
.letter-n{
    position: absolute;
    transform: translateZ(7px) skew(-40deg) scale(0.4);
    top: 1410px;
    left: 340px;

}
.line4{ /* introducing */
    position: absolute;
    transform: translateZ(1px) scale(0.92);
    top: 2140px;
    left: calc(50% - 125px);
    text-align: center;
    margin: auto;

}
.line4-2{
    transform: translateZ(2px) scale(0.92);
    position: absolute;
    text-align: center;
    margin: auto;
    left: -50px;
    width: 90%;
    top: 2525px;
    font-weight: 100;
    letter-spacing: 0.4em;

}
.line5{
    transform: translateZ(1px) scale(0.92);
    position: absolute;
    text-align: center;
    width: 90%;
    top: 2550px;
}
.final-r{
    transform: translateZ(4px) skew(-40deg) scale(0.6);
    top: 2130px;
    left: 0px;
}
.final-e{
    transform: translateZ(5px) skew(-40deg) scale(0.4);
    top: 2170px;
    left: 70px;

}
.final-b{
    transform: translateZ(6px) skew(-40deg) scale(0.3);
    top: 2140px;
    left: 170px;

}
.final-o{
    transform: translateZ(4px) skew(-40deg) scale(0.7);
    top: 2160px;
    left: 430px;

}
.final-r2{
    transform: translateZ(2px) skew(-40deg) scale(0.5);
    top: 2150px;
    left: 740px;

}
.final-n{
    transform: translateZ(7px) skew(-40deg) scale(0.25);
    top: 2190px;
    left: 380px;

}
.img1 {
    width: 700px;
    transform: translateZ(3px);
    opacity: 60%;
    position: absolute;
    top: 640px;
    left: 500px
}
.img2 {
    width: 600px;
    transform: translateZ(3px);
    opacity: 60%;
    position: absolute;
    top: 1400px;
    left: -250px;





}