
.letter {
    width:510px; /*resize as you see fit */
    height:200px; /*resize as you see fit */
    display:inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
    border:1px solid lightblue; /*feel free to remove or hide this rule */
    position:relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
    overflow: hidden;

}
.letter-a {
    z-index: 100;
}
.thick-slant {
    overflow: hidden;
    position: absolute;
    background: black;
    width: 120px;
    height: 495px;
    transform: rotate(40deg);
    top: -97px;
    left: 60px;
    background-image: repeating-radial-gradient(circle, lightslategrey 10px, black, black 20px);
    z-index: 10;

}
.negative {
    position: absolute;
    background: white;
    width: 100px;
    height: 60px;
    z-index: 50;
}
/*
.neg-top {
    top: -201px;
    left: 100px;
}
.neg-bottom {
    top: 201px;
    left: -100px;
} */
.neg-diagonal {
    position: absolute;
    background: white;
    width: 50px;
    height: 310px;
    transform: rotate(40deg);
    top: -55px;
    left: 415px;
    z-index: 100;

}
.crossbar {
    position: absolute;
    background: black;
    height: 10px;
    width: 180px;
    top: 60px;
    left: 145px;
}
.diagonal {
    position: absolute;
    background: black;
    height: 450px;
    width: 10px;
    transform: rotate(40deg);
    top: -65px;
    left: 360px;

}
.b-cross {
    width: 300px;
}
.horizontal {
    position: absolute;
    background: black;
    height: 10px;
    width: 320px;
    top: -1px;
    left: 175px;
}
.hor-bottom {
    top: 191px;
    left: 15px;
}
.d-top {
    width: 380px;
    left: 115px;
}
.e-cross {
    width: 200px;
}
.neg-crossbar {
    height: 100px;
    background: white;
    top: 30px;
    left: 315px;
    z-index: 50;

}
.g-diagonal {
    height: 188px;
    left: 366px;
    top: 42px;
}
.g-cross {
    width: 100px;
    left: 350px;
    background: black;

}
.i-thick {
    left: 150px;
}
.i-left {
    left: 80px;
}
.i-right {
    left: 375px;
}
.j-thick {
    left: 200px;
}
.j-left {
    left: 130px;
}
.j-right {
    left: 425px;
}
.j-horizontal-top {
    left: 225px;
}
.j-hor-bottom {
    top: 191px;
    left: 55px;
    width: 200px;
}
.j-diagonal {
    left: 75px;
    height: 100px;
    top: 120px;
}
.j-neg {
    left: 50px;
    top: 90px;
}
.k-top {
    transform: rotate(70deg);
    top: -160px;
    left: 261px;
}
.k-bottom {
    transform: rotate(160deg);
    top: 10px;
    left: 325px;

}
.p-diagonal {
    height: 93px;
    top: -16px;
    left: 466px;
}
.m-diag-stroke {
    transform: rotate(160deg);
    top: -30px;
    left: 325px;
    height: 91px;
}
.m-diag-stroke2 {
    transform: rotate(70deg);
    top: -67px;
    left: 421px;
    height: 181px;
}
.n-diag {
    transform: rotate(180deg);
    left: 320px;
}
.vertical {
    position: absolute;
    background: black;
    width: 10px;
    height: 300px;
    left: 320px;
    top: -5px
}
.m-leg {
    left: 500px;
}
.s-curve2 {
    left: 250px;
    z-index: 100;
    
}
.s-curve1 {
    left: 250px;
    z-index: 50;
}
.s-neg1 {
    left: 0px;
    top: 70px;
    width: 300px;
    height: 200px;
    z-index: 20;

}
.s-neg2 {
    left: 318px;
    top: 9px;
    width: 200px;
    height: 51px;
    z-index: 100;
}
.s-touchup {
    position: absolute;
    background: black;
    height: 40px;
    width: 30px;
    top: -10px;
    left: 282px;
}
.s-neg-diag-left {
    left: 30px;
}
.s-bottom {
    width: 300px;
    left: -10px;
    z-index: 20;

}

.s-neg3 {
    background: white;
    width: 20px;
    height: 30px;
    transform: rotate(40deg);
    left: 304px;
    top: 12px;
    z-index: 100;

}
.s-neg4 {
    background: white;
    width: 40px;
    height: 20px;
    left: 295px;
    top: 40px;
    z-index: 100;


}
.q-vertical {
    height: 80px;
    top: 120px;
    left: 360px;
}
.t-left {
    left: 60px;
}
.t-right {
    left: 395px;
}
.v-thick {
    left: 200px;
}
.v-vertical {
    left: 140px;
}
.w1 {
    position: relative;
    left:40px;
}
.w-vertical {
    left: 5px;
}
.w-diagonal {
    left: 40px;
}
.x-diagonal {
    transform: rotate(140deg);
    top: -100px;
    left: 250px;
    height: 400px;
}
.y-diagonal {
    transform: rotate(160deg);
    top: -50px;
    left: 170px;
    height: 200px;
}
.z-top {
    left: 150px;
    width: 150px;
}
.z-bottom {
    left: 220px;
    width: 150px;
}
